.img-thumbnail {
  cursor: pointer;
}

.help {
  cursor: help;
}

.text-center.tag {
  margin-bottom: 0.25rem;
}

.avatar-list {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

a.dropdown-item.active,
.dropdown-item:active {
  background-color: rgba(70, 127, 207, 0.06);
  font-weight: 600;
  color: #467fcf;
}

.dataTables_length {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.dataTables_filter {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}
.dataTables_info {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}
.dataTables_paginate {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.custom-file-label {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

/* *,
*::before,
*::after {
  border-radius: 0 !important;
} */

.page {
  background: url("../backgrounds/subtle_white_feathers/subtle_white_feathers.png");
}
